:root {
  font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color-scheme: dark;
  --bg-color: #000;
  --x: 0;
  --y: 0;
}

html {
  background-color: var(--bg-color);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  font-size: 10px;
  padding: 0;
  margin: 0;
  line-height: 10px;
  text-align: justify;
  user-select: none;
  background-image: url(../img/panama-mini.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.0002);
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 50px;
  object-position: center;
  z-index: 10;
  pointer-events: none;
  user-select: none;
}

span {
  position: absolute;
  inset: 0px;
  background-image: url(../img/panama-mini.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  mask: radial-gradient(
    circle at var(--x) var(--y),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.5),
    transparent,
    transparent,
    transparent,
    transparent
  );
}
